<h1>Listings</h1>
<h2>Signed in as <%= usernameDisplay %></h2>

<a href="/">homepage</a>
<a href="/listings/createNewListing">create new listing</a>


<div>
<h5>View listings by category</h5>
<a href="/listings/viewListings/1">view cars for sale</a>
<br>
<a href="/listings/viewListings/2">view trucks for sale</a>
<br>
<a href="/listings/viewListings/3">view motorcycles for sale</a>
<br>
<a href="/listings/viewListings/4">view bicycles for sale</a>
<br>
<a href="/listings/viewListings/5">view ATVs for sale</a> 



</div>