<h1>Signed in as <%= usernameDisplay %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form> 

<a href="/myProfile">My Profile</a>
<a href="/adminPage">Admin Page</a>
<a href="/listings">Listings</a>
