<h1>My Profile</h1>
<h2>Signed in as <%= usernameDisplay %></h2>

<a href="myProfile/updateUser">Update my profile</a>
<br>
<a href="myProfile/deleteUser">Delete my profile </a>
<br>
<a href="myProfile/myListings">See my listings </a>
